body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



div.logouser {
    background-color: rgb(58, 82, 104);
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

h5 {
    margin-right: 150px;
    margin-left: auto;
}

h2 {
    text-align: center;
}

nav {
    display: flex;
    background-color: #282828;
    color: white;
    align-items: center;
    padding: 0 20px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div.container {
    background-color: #333;
    border-radius: 20px;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

table.animal {
    width: 70%;
    margin: 20px auto;
}

table.animal th, table.animal td {
    padding: 10px;
    text-align: left;
    display: block;
}

table.animal .info {
    background-color: rgb(58, 82, 104);
    color: white;
}

table.animal .contenido {
    background-color: #4f4f4f;
    color: white;
}

img.imagenAnimal {
    display: flex;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 2%;
}

footer {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: auto;
    background-color: #282828;
    color: white;
    text-align: center;
    width: 100%;
}
